<p style="color: green"><%= notice %></p>

<div class="container my-3">

  <h1>Clients</h1>

  <%= button_to "New client", new_client_path, method: :get, class: "btn btn-primary mt-3 mb-1" %>


  <div id="clients">
    <table class="table table-bordered text-center table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Movie</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
